In [16]:
import pandas as pd

# Create the dataset
data = {
    "Date": [
        "2024-01-01", "2024-01-02", "2024-01-03", 
        "2024-01-04", "2024-01-05", "2024-01-06"
    ],
    "Product": [
        "Product A", "Product A", "Product C", 
        "Product A", "Product B", "Product C"
    ],
    "Revenue": [
        1000, 1500, 800, 1200, 1100, 900
    ],
    "Region": [
        "North America", "Europe", "Asia", 
        "North America", "Europe", "Asia"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df

         Date    Product  Revenue         Region
0  2024-01-01  Product A     1000  North America
1  2024-01-02  Product A     1500         Europe
2  2024-01-03  Product C      800           Asia
3  2024-01-04  Product A     1200  North America
4  2024-01-05  Product B     1100         Europe
5  2024-01-06  Product C      900           Asia

1. Write a Python function to filter the data to include only records from a specified region and date range. The function should return a DataFrame containing the filtered data.

In [17]:
def filter_by_region_and_date(df: pd.DataFrame, region: str, date_start: str = "2024-01-01",
                              date_end: str = "2024-12-31") -> pd.DataFrame:
    df = df[(df["Region"] == region) & (df["Date"] >= date_start) & (df["Date"] <= date_end)]

    return df

In [18]:
filter_by_region_and_date(df, region="Europe", date_start="2024-01-05")

         Date    Product  Revenue  Region
4  2024-01-05  Product B     1100  Europe

Modify your function to calculate the total revenue for each Product within the filtered data.

In [34]:
def filter_by_region_and_date_and_compute_product_revenue(df: pd.DataFrame, region: str, date_start: str = "2024-01-01",
                              date_end: str = "2024-12-31") -> pd.DataFrame:
    df = df[(df["Region"] == region) & (df["Date"] >= date_start) & (df["Date"] <= date_end)]

    total_revenue = df.groupby("Product")["Revenue"].sum().reset_index()

    return pd.DataFrame(total_revenue)

In [35]:
filter_by_region_and_date_and_compute_product_revenue(df, region="Europe")

     Product  Revenue
0  Product A     1500
1  Product B     1100